body{
    margin:0;
}

header {
    padding: 16px;
    background-color: rgb(139,69,19);
    color: white;
    text-align: center;
    grid-area: header;
   }

#menu {
    padding: 32px;
    background-color: rgb(160,82,45);
    grid-area: menu;
   }


nav{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: column;
    list-style: none;
    text-decoration: none;
}

#main-content {
   padding: 32px; 
   grid-area: main;
   }

footer {
    padding: 16px;
    background-color: rgb(210,105,30);
    color: black;
    font-weight: bold;
    text-align: center;
    grid-area: footer;
   }

#grid-container{
    display: grid;
    grid-template-areas:
    "header  header"
    "menu  main"
    "footer  footer"
    ;
    grid-template-columns: 2fr 8fr;
}