body{
    margin:0;
}

header {
    padding: 16px;
    background-color: rgb(139,69,19);
    color: white;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 8px 8px 10px 3px rgb(231, 220, 0);
    width: 16%;
    text-shadow: 1px 1px 0px black, -1px 1px 0px black, 1px -1px 0px black, -1px -1px 0px black;
    grid-area: header;
   }

#menu {
    padding: 32px;
    background-color: rgb(160,82,45);
    grid-area: menu;
   }


nav{
    margin-top: 32px;
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
    text-decoration: none;
}

#main-content {
   padding: 32px; 
   grid-area: main;
   }

footer {
    padding: 16px;
    background-color: rgb(210,105,30);
    color: black;
    font-weight: bold;
    text-align: center;
    grid-area: footer;
   }

#grid-container{
    display: grid;
    grid-template-areas:
    "header  header"
    "menu  main"
    "footer  footer"
    ;
    grid-template-columns: 2fr 8fr;
}